body{
    width: 100vh;
    background-color: #27374D;
}

/*NAVBAR COMPONENT CSS */
.Navbar_main{
    margin-top: 3%;
    width:98vw;
    display: inline-flex;
    height:8vw;
    gap:30vw;
}

.Navbar_heading{
    font-size: 2em;
    margin-left: 1em;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 750;
    width: 30%;
}

.Navbar_link{
    display:inline-flex;
    gap:1em;
}

#link1,#link2,#link3,#link4{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* //Dark theme switch */



/* HOME COMPONENT CSS */
#home_title{
    font-size: 2em;
    font-family: 'PT Serif', serif;
    text-align: center;
}

#home_title1{
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}

.home_heading{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8%;
}

.home_main{
    display: inline-flex;
    width:65vw;
    gap:8vw;
    height:30vw;
    margin-top: 5vh;
    /* flex-wrap: wrap; */
}

.home_image{
    display:inline-flex;
    justify-content: center;
}

#home_img{
    height:45vh;
    width:45vw;
}
#home_search{
    margin-top:2%;
    width: 40vw;
    
    border-radius: 20px;
    padding: 1.8%;
}

/* .home_circle{
    position: absolute;
    width: 41%;
    height:67%;
    background-color: rgb(185, 250, 129);
    
    opacity: 70%;
    border-radius: 50%;
    right: -10.5%;
    top:9.5%;
    z-index: -1;
} */

/* EXPLORE COMPONENT CSS */
.explore_main{
    margin-top: 20%;
    display:inline-flex;
    flex-direction: column;
}
#explore_img{
    margin-left: 12%;
    margin-top: 8%;

}

/* #explore_title{
    margin-left: 70%;
    font-size: 2.9em;
    width: 40vw;
    height: 7vh;
} */
#explore_img{
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.explore_main{
    margin-top: 20%;
    /* height:100vh; */
    /* width:98vw; */
    margin-bottom:25%;
    gap:10%;
}
#explore_title{
    /* height: 5.8vh;
    width:80%; */
    font-size: 3.5em;
    font-family: 'PT Serif', serif;
}
.explore_heading{
    width:100%;
    margin-left:50%;
}
#explore_title_2{
    font-size:2.1em;
    /* width: 110%; */
    /* margin-top: 7%;  */
    font-family: 'PT Serif', serif;
    color:#27374D;
}

.explore_about_main{
    display: inline-flex;
    height:80vh;
    width:80vh;
    gap:10%;
}
#explore_d_1{
    font-family: 'PT Serif', serif;
    font-size:2em;
    width:30vw;
    margin-top:20%;
}

/* PLace component CSS */
#feature_img_1,#feature_img_2{
    width: 30vw;
    height: 45vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
    margin-top: 1.2em
}
.features_main_1,.features_main_2{
    display: grid;
    grid-template-columns: auto ;
}
.features_main{
    display: flex;
    margin-left: 10%;
}
#feature_text_id_1,#feature_text_id_2{
    text-decoration: none;
    color:#27374D;
    font-size: 1.8em;
    font-family: 'PT Serif', serif;
}
.features_main_2{
    margin-left: 45%;
}
.features_img{
    padding: 1.7em;
}
#text1{
    font-family: 'PT Serif', serif;
}

/* PHOTOGALLERY CSS */
.PhotoGallery_main{
    margin-top:7%;
    margin-bottom: 10%;
    margin-left: 19%;
    width: 80vw;
    box-shadow:0px 9px 26px -8px rgb(74, 73, 73);
}
#img1{
    width: 100%;
    height: 75vh;
}
.photogallery_heading{
    margin-top:25%;
    margin-left: 19%;
}
#photogallery_text{
    font-size: 2.8em;
    font-family: 'PT Serif', serif;
}


/* ABOUT COMPONENT CSS */
.about_main{
    margin: 3em;
    margin-left: 18%;
    margin-top: 25%;
    display: grid;
    grid-template-columns: auto;
}
#about_text{
    font-size: 2.8em;
    font-family: 'PT Serif', serif;
    margin-bottom: 0;
    height: 8vh;
}
#about_text_2{
    font-size: 1.8em;
    font-family: 'PT Serif', serif;
}
.about_heading_2{
    
}
#about_text_3{
    margin-top: 15%;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
}


/* TEAM_COMPONENT CSS */
.team_main_2{
    display: grid;
    grid-template-columns: auto auto auto;
}
#team_component_img{
    width: 15vw;
    height: 30vh;
    border-radius:50% ;
    box-shadow: 0px 4px 18px -4px rgb(60, 60, 60);
}
#team_heading_text{
    font-size: 2.5em;
    font-family: 'PT Serif', serif;
    margin-left: 6.3em;
    width: 40vw;
    height: 7vh;
    margin-top: 4em;
}
.line{
    width: 30vw;
    height: 0.2vh;
    background-color: black;
    margin-left: 58%;
}
.team_main{
    text-align: center;
    margin-left: 22%;
}
.team_component{
    margin:5em;
    margin-left: 5em;
    margin-top: 5.2em;
}
#team_component_text{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;

}


/* PLACES TO VISIT COMPONENT CSS */
.places_to_visit_main{
    display: flex;
    flex-direction: row;
    margin-left: 4.5em;
    margin-bottom: 2em;
}
#img_3{
    margin-left: 10%;
    width: 25vw;
    height: 45vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
.places_to_visit_heading{
    margin-top: 3em;
    font-size: 3.8em;
    font-family: 'PT Serif', serif;
    margin-bottom: 10%;
}
#places_to_visit_text{
    margin-left: 10%;
}
#img_4{
    width: 26vw;
    height: 80vh;
    margin-left: 30%;
    margin-top: 22%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#img_5{
    width: 25vw;
    height: 45vh;
    margin-left: 50%;
    margin-top: 13%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}

/*place_2 css  */
.place_2{
    display: flex;
}
.place_2_heading{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-left: 10%;
}
#place_2_img{
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 15%;
    box-shadow: 0px 4px 18px -4px rgb(60, 60, 60);
}
#place_2_text{
    font-size: 2.8em;
    font-family: 'PT Serif', serif;
    width: 35vw;
    margin-left: 15%;
    margin-top: 5%
}
#place_2_text_2{
    margin-left: 15%;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    width: 26vw;
    height: 15vh;
    opacity: 80%;
}
#place_2_text3{
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
    margin-left: 15%;
}
#place_2_img_1{
    width: 30vw;
    height: 75vh;
    margin-left: 55%;
    margin-top: 15%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}

/* place_3 Css */

#li{
    font-size: 1.3em;
    font-family: 'PT Serif', serif;
    width: 23vw;
}
.place_3{
    display: flex;
    margin-left:20% ;
    margin-bottom: 10%;
}
.place_3_heading{
    margin-top: 10%;

}
#place_3_text{
    font-size: 2.5em;
    font-family: 'PT Serif', serif;
    
}
#place_3_text_2,#place_3_text_3{
    font-size: 1.5em;
    height: 3vh;
    font-family: 'PT Serif', serif;
    margin-top: 15%;
    font-weight: 700;
}

#place_3_img_1{
    width: 30vw;
    height: 75vh;
    margin-left: 73%;
    margin-top: 15%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78)
}

/* Different Places Css */
.different_places_main{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 5%;
}
.place_4{
    display: flex;
}
#place_4_img{
    width: 40vw;
    height: 50vh;
    margin: 2em;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#place_4_text1{
    font-size: 4em;
    font-family: 'PT Serif', serif;
    margin-left: 12%;
    margin-right: 8%;
    margin-top: 2%;
}
.place_4_heading{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 20%;
}
#place_4_text2{
    font-size: 3.8em;
    font-family: 'PT Serif', serif;
    width: 175%;
    height: 8vh;
}
#place_4_text3{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;    
}
.different_places_heading{
    margin-top: 25%;
    font-size: 2.2em;
    font-family: 'PT Serif', serif;
    margin-left: 15%;
}

.place_5{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
#place_5_img1,#place_5_img2{
    width: 40vw;
    height: 50vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
    margin-left: 10%;
}
#place_5_img1,#place_5_img2{
    margin-left:feature
}
.place_5_heading{
    margin-top: 20%;
    font-size: 3.1em;
    font-family: 'PT Serif', serif;
    margin-left: 10%;
    width: 50vw;
}


.places_6,.places_7{
    display: flex;
}
.places_6_heading{
    display: grid;
    grid-template-columns: auto;
    margin-left: 11%;
    margin-top: 7%;
    padding: 2em;
}
#places_6_img{
    display: flex;
}
#places_6_img1{
    width: 25vw;
    height: 65vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#places_6_text,#places_7_text{
    text-align: center;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    margin-top: 3%;
}
.places_6_heading_1,.places_7_heading_1,.places_9_heading_1{
    font-size: 3.3em;
    font-family: 'PT Serif', serif;
    margin-left: 11%;
    margin-top: 20%;
}

.places_8_main{
    display: flex;
    margin-top: 20%;
}

.places_8_img{
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto;

}
#places_8_img1{
    width: 26vw;
    height: 45vh;
    margin: 2em;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
.places_8_heading{
    font-size: 3.1em;
    font-family: 'PT Serif', serif;
    width: 20vw;
    margin-left: 10%;
    margin-top: 5%;
}


.places_9_main{
    display: flex;
}

#places_9_img{
    width: 26vw;
    height: 45vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}


/* CAFES COMPONENT CSS */
.cafes_main1,.cafes_main2,.cafes2_main1{
    display: grid;
    grid-template-columns: auto;
}
.cafes2_main2{
    display: flex;
    flex-direction: column;
}
.cafes_main2,.cafes2_main2{
    margin-left: 45%;
    margin-top: 5%;
}
.cafes_main,.cafes2_main{
    display: flex;
}
.cafes2_main{
    margin-top: 20%;
    margin-left: 5%;
}
#cafes_img,#cafes2_img{
    width: 25vw;
    height: 40vh;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#cafes2_img{
    margin-top: 35%;
}
.cafes2_heading{
    display: flex;
    margin-top: 5%;
}
.cafes2_heading1{
    display: flex;
    margin-top: 8%;
}
#cafes2_text4,#cafes_text5{
    font-size: 2.4em;
    font-family: 'PT Serif', serif;
    margin-left: 10%;
}
#cafes_img3{
    width: 20vw;
    height: 30vh;
    margin-left: 10%;
    margin-top: 21%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#cafes_img2{
    width: 20vw;
    height: 30vh;
    margin-top: 10%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#cafes2_img2{
    width: 40vw;
    height: 30vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
    margin-top: 10%;
}
.cafes_images{
    display: flex;
}
#cafes_text1,#cafes2_text1{
    font-size: 3em;
    font-family: 'PT Serif', serif;
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 0%;
}
#cafes_text2,#cafes2_text2{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    width: 80%;
    margin-left: 10%;
}
#cafes_text3{
    font-size: 3em;
    font-family: 'PT Serif', serif;
}

#cafes2_text3{
    font-size: 1.5em;
    font-family:'PT Serif', serif; 
    margin-left: 10%;
}
#cafes_text5{
    margin-left: 2%;
}


.cafes3_main{
    display: flex;
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
}
.cafes3_main1,.cafes3_main2{
    display: flex;
    flex-direction: column;
}
.cafes3_main2{
    margin-left: 5%;
}
#cafes3_text1{
    font-size: 3em;
    width: 10vw;
    font-family: 'PT Serif', serif;
}
#cafes3_text2{
    font-size: 2.2em;
    margin-top: 5%;
    width: 40vw;
    font-family: 'PT Serif', serif;
}
#cafes3_text3{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    width: 20vw;
}
#cafes3_img1,#cafes3_img2{
    width: 40vw;
    height: 38vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#cafes3_img2{
    margin-top: 5%;
    width: 20vw;
    height: 25vh;
}

.cafes_4_main{
    display: flex;
    padding-top: 15%;
    margin-bottom: 10%;
}
.cafes4_main1{
    display: flex;
    flex-direction: column;
}
#cafes4_text1{
    font-size: 2.5em;
    font-family: 'PT Serif', serif;
    margin-left: 20%;
    width: 30vw;
}
#cafes4_text2{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    margin-left: 20%;
}
#cafes4_img1{
    width: 40vw;
    height: 50vh;
    margin-left: 45%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}

/* STORES COMPONENT */
.stores_main1{
    margin-left: 75%;
}
.stores_heading{
    width: 40vw;
    margin-left: 60%;
}
#stores_1_text1{
    font-family: 'PT Serif', serif;
    font-size: 4em;
    margin-bottom: 4%;
    margin-top: 20%;
    margin-left: 1.3em;
}
#stores_1_text2{
    font-family: 'PT Serif', serif;
    font-size: 4.5em;
    margin-top: 3%;
    height: 10vh;
    width: 150%;
}
#stores_1_text3{
    font-family: 'PT Serif', serif;
    font-size: 2.7em;
    width: 120%;
    margin-left: 22%;

}
#stores_1_img{
width: 20vw;
height: 30vh;
box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
margin-left: 24%;
margin-top: 5%;
}



.stores_2_main{
    margin-top: 25%;
    display: flex;
    flex-direction: column;
}
.stores_2_heading{
    display: flex;
}
#stores_2_text1{
    font-family: 'PT Serif', serif;
    font-size: 4em;
    margin-left: 15%;
}

.stores_2_images{
    display: flex;
    margin-bottom: 20%;
}
#stores_2_img1{
    width: 30vw;
    height: 40vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 10%;
}
#stores_2_img2{
    width: 15vw;
    height: 40vh;
    margin-top: 10%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}

.stores_3_main{
display: flex;
margin-bottom: 20%;
}
.stores_3_images{
    display: flex;
    flex-direction: column;
}
.stores_3_heading{
    font-size: 4em;
    margin-left: 10%;
    font-family: 'PT Serif', serif;
}
#stores_3_img1{
    width: 25vw;
    height: 40vh;
    margin-top: 10%;
    margin-left: 116%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}
#stores_3_img2{
    width: 20vw;
    height: 35vh;
    margin-left: 180%;
    margin-top: 10%;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
}


.stores_4_images{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}
#stores_4_heading{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 4em;
    margin-left: 80%;
    width: 20vw;
}