body{
    width: 100vh;
    overflow-x: hidden;
}

/*NAVBAR COMPONENT CSS */
.Navbar_main{
    margin-top: 15px;
    width:1280px;
    display: flex;
}

.Navbar_heading{
    font-size: 38px;
    margin-left: 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 750;
    width: 350px;
}

.Navbar_link{
    margin-left: 420px;
}

#link1,#link2,#link3,#link4{
    text-decoration: none;
    color: black;
    font-size: 20px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;
}

/* //Dark theme switch */
.form-check{
    margin-top: 6px;
    margin-left: 5px;
}


/* HOME COMPONENT CSS */
#home_title{
    font-size: 2.8em;
    margin-left:15%;
    height: 5vh;
    width: 40vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
}

#home_title1{
    font-size: 4em;
    margin-left: 32%;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.home_heading{
    margin-top: 25%;
}

.home_main{
    display: flex;
}

#home_img{
    margin-left: 30%;
    height: 92%;

}

.home_image{
    margin-top: 16%;
}

#home_search{
    margin-top:2%;
    width: 40vw;
    margin-left: 10%;
    border-radius: 20px;
    padding: 1.8%;
}

.home_circle{
    position: absolute;
    width: 41%;
    height:67%;
    background-color: rgb(185, 250, 129);
    
    opacity: 70%;
    border-radius: 50%;
    right: -10.5%;
    top:9.5%;
    z-index: -1;
}

/* EXPLORE COMPONENT CSS */
.explore_main{
    margin-top: 30%;
}
#explore_img{
    margin-left: 12%;
    margin-top: 8%;

}

#explore_title{
    margin-left: 70%;
    font-size: 2.9em;
    width: 40vw;
    height: 7vh
}
#explore_img{
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#explore_title{
    margin-left:60% ;
    font-size: 3.5em;
    font-family: 'Poiret One', cursive;
    font-weight:1000;
}
.explore_main{
    margin-top: 24%;
}

#explore_title_2{
    font-size:2.1em;
    width: 110%;
    margin-top: 3.6%;
    margin-left:53%; 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}

.explore_about{
    display: flex;
}
#explore_d_1{

    width: 300%;
    margin-left:250%;
    margin-top: 250%;
}




/* RESPONSIVENESS */

/* @media (max-width:450px){
    #home_title{
    font-size: 13px;
    margin-left: 10px;
    }

    #home_title1{
        font-size: 22px;
        margin-left: 33px;
    }
    .home_heading{
        margin-top: 80px;
    }
    #home_search{
    width: 200px;
    height: 24px;
    margin-left: 10px;
    margin-top: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    }
    .home_circle{
        width: 200px;
        height:150px;
        left: 260px;
        top: 90px;
    }
    #home_img{
        width: 180px;
        height: 200px;
        margin-left: 0px;
    }
} */

  /*   width: 350px;
    margin-left:290px;
    margin-top: 225px;
    font-family: 'Rubik', sans-serif;
    font-size:27px;
} */


/* PLace component CSS */
#place_img_1,#place_img_2{
    width: 30vw;
    height: 45vh;
    box-shadow:0px 9px 26px -8px rgb(79, 78, 78);
    margin-top: 1.2em;
}
.places_main_1,.places_main_2{
    display: grid;
    grid-template-columns: auto ;
}
.places_main{
    display: flex;
    margin-left: 10%;
}
#place_text_id_1,#place_text_id_2{
    text-decoration: none;
    font-size: 1.4em;
}
.places_main_2{
    margin-left: 45%;
}
.places_img{
    
    padding: 1.7em;
}

/* PHOTOGALLERY CSS */
.PhotoGallery_main{
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 19%;
    width: 80vw;
    box-shadow:0px 9px 26px -8px rgb(74, 73, 73);
}
#img1{
    width: 100%;
    height: 75vh;
}
