body{
    width: 100vh;
    overflow-x: hidden;
}

/*NAVBAR COMPONENT CSS */
.Navbar_main{
    margin-top: 15px;
    width:1280px;
    display: flex;
}

.Navbar_heading{
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    margin-left: 20px;
    /* font-family: 'Poiret One', cursive; */
    font-weight: 750;
    width: 350px;
}

.Navbar_link{
    margin-left: 420px;
}

#link1,#link2,#link3,#link4{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
   /*  font-family: 'Poppins', sans-serif; */
    font-weight: 200;
    padding-right: 15px;
    padding-left: 15px;
}

/* //Dark theme switch */
.form-check{
    margin-top: 6px;
    margin-left: 5px;
}


/* HOME COMPONENT CSS */
#home_title{
    font-size: 45px;
    margin-bottom: 0px;
    margin-left: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

#home_title1{
    font-size: 55px;
    margin-left: 220px;
    font-family: 'Poiret One', cursive;
    font-weight:1000
}

.home_heading{
    margin-top: 180px;
}

.home_main{
    display: flex;
    width:1280px;
}

#home_img{
    margin-left: 75px;
    height:650px;
    width:750px
}

.home_image{
    margin-top: 30px;
}

#home_search{
    margin-top: 20px;
    width: 600px;
    margin-left: 75px;
    border-radius: 20px;
    padding: 8px;
}

.home_circle{
    position: absolute;
    width: 570px;
    height: 520px;
    background-color: rgb(185, 250, 129);
    opacity: 70%;
    border-radius: 50%;
    right: -7.5%;
    top: 13%;
    z-index: -1;
}

/* EXPLORE COMPONENT CSS */
#explore_img{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}